

.custom-marker {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
 /* background-image: url("http://icons.iconarchive.com/icons/paomedia/small-n-flat/128/map-marker-icon.png");
 background-repeat:no-repeat;
  background-size: 25% 100%;
  min-height: 25%; */
}
